In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Global Findex Database.xlsx')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, in labor force (% age 15+)","Mobile money account, out of labor force (% age 15+)","Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)"
0,2011,AFG,Afghanistan,South Asia,Low income,0.090050,0.154155,0.149905,0.020520,0.026162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,0.099610,0.157847,0.148926,0.043583,0.038124,...,0.005723,0.000000,0.002061,0.00263,0.003299,0.002870,0.003472,0.000000,0.005072,0.002357
2,2017,AFG,Afghanistan,South Asia,Low income,0.148933,0.225365,0.250383,0.040462,0.071607,...,0.017173,0.000548,0.008798,0.00000,0.014690,0.003958,0.022650,0.003607,0.012820,0.008522
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,0.392035,0.394810,0.458098,0.308698,0.389283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,0.293181,0.361321,0.358846,0.116862,0.223316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Renombram
data.rename(columns={'Unnamed: 0' : 'Year', 'Unnamed: 1' : 'Country Code', 'Unnamed: 2':'Country','Unnamed: 3':'Region',
                          'Unnamed: 4':'Income Group'}, inplace=True)

In [ ]:
data